My Jupyter Notebook

In this document I will present my final project of the IBM course, "Tools for Data Science

The data science languages are Python, R, SQL (Structured Query Language), Scala, JAVA, C and C++.

Some data libraries used in Python are TensorFlow, NumPy, SciPy, Pandas, Matplotlib, and SciKit-Learn.

Data science tools, based on Python, are Pandas, SeaBorn, and Scikit-Learn. Open source tools are Pytorch, MLFlow, and Jupyter Notebook, and if we consider AI, we have Chat GPT.

Some arithmetic operations are addition, subtraction, multiplication and division. These are examples of addition and multiplication.

In [12]:
# Adittion operation
170 + 235

405

In [14]:
# Multiplication operation
25 * 50

1250

In [17]:
# Adittion and multuplication operation
(157 + 143) * 2

600

Also, using the code cell it's possible to convert minutes to hours.

In [45]:
# Convert minutes to hours
minute = int(180)
result = (minute * 1) / 60
print(minute, "minutes is:", result, "hours")

180 minutes is: 3.0 hours

It can also be used to list objects.

In [66]:
name = "Bruno Baeza"
print(list(name))

['B', 'r', 'u', 'n', 'o', ' ', 'B', 'a', 'e', 'z', 'a']

Autor: Bruno Baeza